# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.env
.venv
venv/
ENV/

# Project specific
data/
experiments/
*.hdf5
*.json
model_weights/
dist/
*.whl
*.tar.gz
*.csv
*.pb
.workspace
output/
*.mp3
*.wav
*.m4a
.DS_Store


# Ignore reference repositories
z.Resources/mixxx/
