# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.env
.venv
venv/
ENV/

# Project specific
data/
experiments/
*.hdf5
*.json
model_weights/
dist/
*.whl
*.tar.gz
*.csv
*.pb
.workspace

output/
z.Resources
z.Prompts
z.TestSongs

.DS_Store


